{% extends "layout_2_col.html" %}

{% load i18n %}

{% block title %}
    {{ page_title }} | {% trans '账户' %} | {{ block.super }}
{% endblock %}

{% block body_class %}账户资料{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>
            <a href="{{ homepage_url }}">{% trans '首页' %}</a>
        </li>
        <li>
            <a href="{% url 'customer:summary' %}">{% trans '账户' %}</a>
        </li>
        {% block extra_breadcrumbs %}{% endblock %}
        <li class="active">{{ page_title }}</li>
    </ul>
{% endblock %}

{% block column_left %}
    <ul class="nav nav-pills nav-stacked">
        {% block standard_tabs %}
            {% include 'customer/partials/standard_tabs.html' %}
        {% endblock %}
    </ul>
{% endblock %}

{% block content %}
    {% block tabcontent %}{% endblock tabcontent %}
{% endblock content %}
