<div class="ui basic footer segment">
  <div class="ui center aligned container">
    <div class="ui stackable grid">
      <div class="three wide column">
        <h4 class="ui header">网站教程</h4>
        <div class="ui link list">
          <a class="item" href="#" target="_blank">区块链数据库文档</a>
          <a class="item" href="#" target="_blank">交易所量化交易文档</a>
          <a class="item" href="#" target="_blanl">区块链刻字文档</a>
          <a class="item" href="#" target="_blank">费用说明</a>
        </div>
      </div>
      <!-- 
      <div class="four wide column">
        <h4 class="ui header">API接口</h4>
        <div class="ui link list">
          <a class="item" href="#" target="_blank">区块链数据库API接口文档</a>
          <a class="item" href="#" target="_blank">交易所API接口文档</a>
          <a class="item" href="#" target="_blank">量化交易API接口文档</a>
          <a class="item" href="#" target="_blank">区块链刻字API接口文档</a>
        </div>
      </div>
      -->
      
      <!--   <div class="seven wide right floated column">
        <h4 class="ui header">官方淘宝店</h4>
        <p>为了更好的为大家服务，我们同时推出淘宝店铺来进行交易</p>
        <form action="#" method="get" target="_top">
          <button type="submit" class="ui large teal button">进入淘宝店铺
          </button>
        </form>
      </div> -->

    </div>
  <div class="ui section divider"></div>
  <img src="https://semantic-ui.com/images/logo.png" class="ui centered mini image">
  <div class="ui horizontal small divider link list">
    <a class="item" href="#">All Rights Reserved.2018</a>
  </div>
  </div>
</div>
<script type="text/javascript">
  $('.ui.dropdown')
  .dropdown()
  ;
  $('.ui.checkbox')
    .checkbox()
  ;
 </script>
