{% extends "customer/baseaccountpage.html" %}


{% load i18n %}

{% block extra_breadcrumbs %}
    <li>
        <a href="{% url 'customer:deposit-list' %}">{% trans '充值记录' %}</a>
    </li>
{% endblock %}

{% block tabcontent %}
	<table class="table table-striped table-bordered">
        <tr>
            <th>{% trans '您的当前账户余额' %}</th>
            <td>{{ balance }}元</td>
        </tr>
    </table>
    <table class="table table-striped table-bordered">
        <tr>
            <th>{% trans '充值币种' %}</th>
            <td>{{ source }}</td>
        </tr>
        <tr>
            <th>{% trans '充币钱包地址' %}</th>
            <td>{{ address }}</td>
        </tr>
        <tr>
            <th>{% trans '充币备注(请务必在转币时填上此备注标签)' %}</th>
            <td>{{ tag }}</td>
        </tr>
        <tr>
            <th>{% trans '充值提示' %}</th>
            <td>1、请不要向以上地址充值非EOS的币种，否则无法到账，2、请务必填写以上标签备注，充币完成后一般1-5分钟内自动到账,3、充币后会自动按照到账时间转换成对应汇率的人民币。4、充值一旦成功，不可撤回不可退款。</td>
        </tr>
    </table>
{% endblock tabcontent %}
