{% extends "checkout/layout.html" %}
{% load currency_filters %}
{% load thumbnail %}
{% load i18n %}
{% load purchase_info_tags %}
{% load staticfiles %}

{% block title %}
    {% trans "Checkout" %} | {{ block.super }}
{% endblock %}

{% block checkout_nav %}
    {% include 'checkout/nav.html' %}
{% endblock %}

{% block content %}

    {% if error %}
        <div class="alert alert-danger">
            {{ error }}
        </div>
    {% endif %}

    <div class="row shipping-payment">
        {# You will almost certainly want to override this block to provide a payment summary #}
        {% block payment_method %}
            <div class="col-sm-6">
                <div class="sub-header">
                    <h2>{% trans "支付方式" %}</h2>
                </div>
                <div class="well well-success">
                    <a href="{% url 'checkout:payment-details' %}" class="pull-right">
                        {% trans "Change" %}
                    </a>
                    <h3>{% trans "支付方式" %}</h3>
                    <p>{{ paymethod }}</p>
                </div>
            </div>
        {% endblock payment_method %}
    </div>

    {% block order_contents %}
        <div class="sub-header">
            {% block order_contents_actions %}
                <a href="{% url 'basket:summary' %}" class="pull-right">
                    {% trans "编辑订单" %}
                </a>
            {% endblock %}

            <h2>{% trans "订单详情" %}</h2>
        </div>
        <div class="basket-title">
            <div class="row">
                <p class="col-sm-9 h4">{% trans "商品" %}</p>
                <p class="col-sm-1 h4 align-center">{% trans "月数" %}</p>
                <p class="col-sm-2 h4 align-right">{% trans "总计" %}</p>
            </div>
        </div>
        {% for line in basket.all_lines %}
            {% purchase_info_for_line request line as session %}
            <div class="basket-items">
                <div class="row">
                    <div class="col-sm-2">
                        <div class="image_container">
                            {% with image=line.product.primary_image %}
                                {% thumbnail image.original "100x100" upscale=False as thumb %}
                                <a href="{{ form.instance.product.get_absolute_url }}"><img class="thumbnail" src="{{ thumb.url }}" alt="{{ product.get_title }}"></a>
                                {% endthumbnail %}
                            {% endwith %}
                        </div>
                    </div>
                    <div class="col-sm-7">
                        <h3><a href="{{ line.product.get_absolute_url }}">{{ line.description }}</a></h3>
                    </div>
                    <div class="col-sm-1 align-center">
                        {{ line.quantity }}个月
                    </div>
                    <div class="col-sm-2 align-right">
                        <p class="price_color">
                            {% if not show_tax_separately and line.is_tax_known %}
                                {{ line.line_price_incl_tax|currency:basket.currency }}
                            {% else %}
                                {{ line.line_price_excl_tax|currency:basket.currency }}
                            {% endif %}
                        </p>
                    </div>
                </div>
            </div>
        {% endfor %}

        <div class="row">
            <div class="col-sm-6">&nbsp;</div>
            <div class="col-sm-6">
                <div class="sub-header">
                    <h2>{% trans '总计' %}</h2>
                </div>
                {% include 'basket/partials/basket_totals.html' %}
            </div>
        </div>

    {% endblock order_contents %}

    {% block shipping_method %}
    {% endblock shipping_method %}

    {% block payment_details %}
    {% endblock payment_details %}

    {% block place_order %}
    {% endblock place_order %}

{% endblock content %}
