{% load i18n %}

<div class="navbar navbar-static-top navbar-inverse nav-checkout">
    <ul class="nav navbar-nav">
        {% spaceless %}
            <li class="step3 {% if step == 3 %}active{% else %}{% if step == 4 %}previous{% else %}{% if step > 3 %}visited{% else %}disabled{% endif %}{% endif %}{% endif %} ">
                {% if step == 4 %}
                    <a href="{% url 'checkout:payment-details' %}">
                        <span class="visible-inline-sm icon-chevron-right"></span>
                        <span>
                            {% trans "1. 支付" %}
                        </span>
                    </a>
                {% else %}
                    <span class="navbar-text">
                        {%  trans "1. 支付" %}
                    </span>
                {% endif %}
            </li>

            <li class="step4 {% if step == 4 %}active{% else %}disabled{% endif %} ">
                <span class="navbar-text">
                    {% trans "2. 预览" %}
                </span>
            </li>

            <li class="step5 {% if step == 5 %}active{% else %}disabled{% endif %} ">
                <span class="navbar-text">
                    {% trans "3. 确认支付" %}
                </span>
            </li>
        {% endspaceless %}
    </ul><!-- /navbar-inner -->
</div><!-- /navbar -->
