{% extends "checkout/checkout.html" %}
{% load currency_filters %}
{% load i18n %}

{% block title %}
    {% trans "Payment details" %} | {{ block.super }}
{% endblock %}

{% block checkout_nav %}
    {% include 'checkout/nav.html' with step=3 %}
{% endblock %}

{% block checkout_title %}{% trans "支付方式" %}{% endblock %}

{% block order_contents %}{% endblock %}
{% block shipping_address %}{% endblock %}
{% block shipping_method %}{% endblock %}
{% block payment_method %}{% endblock %}

{% block payment_details %}
	{% if paysource != "oscar_account" %}
		{% block payment_details_content %}
			<p> {{ paymethod }}</p>
			<a id="view_preview" href="{% url 'checkout:preview' %}" class="btn btn-primary btn-lg">{% trans "继续" %}</a>
		{% endblock payment_details_content %}
    {% else %}
    	{% if to_allocate == 0 %}
		<a href="{% url 'checkout:preview' %}" class="btn btn-primary btn-large">{% trans "Continue" %}</a>
		{% else %}
				{# 2. An account has been found - choose allocation #}
			{% with account=allocation_form.account %}
			<h3>{% trans "账户" %}</h3>
			<table class="table">
				<!--  {% if account.description %}
				<tr>
					<th>{% trans "Description" %}</th>
					<td>{{ account.description }}</td>
				</tr>
				{% endif %} -->
				{% if account.end_date %}
				<tr>
					<th>{% trans "失效日期" %}</th>
					<td>{{ account.end_date }}</td>
				</tr>
				{% endif %}
				<tr>
					<th>{% trans "账户余额" %}</th>
					<td>{{ account.balance|currency }}</td>
				</tr>
			</table>
			{% endwith %}
			<h3>{% trans "该笔订单金额" %}</h3>
			<p>{% trans "订单总计" %} {% if order_total.is_tax_known %}{{ order_total.incl_tax|currency }}{% else %}{{ order_total.excl_tax|currency }}{% endif %}.</p>
		{% endif %}

		{% endif %}
    
{% endblock payment_details %}
