{% extends "customer/emails/base.html" %}
{% load i18n %}

{% block tbody %}
    <tr>
        <td class="content-block">
            {% blocktrans with name=site.name %}您收到本封邮件是因为您的密码已经更改{{ name }}.{% endblocktrans %}
        </td>
    </tr>

    <tr>
        <td class="content-block">
            {% trans "如果不是您更改的密码，请您立即重置您的密码：" %}
        </td>
    </tr>

    <tr>
        <td class="content-block">
            <a href="http://{{ site.domain }}{{ reset_url }}" class="btn-primary">重置密码</a>
        </td>
    </tr>

    <tr>
        <td class="content-block">
            {% trans "如果您是更改的密码，请忽略本封邮件" %}
        </td>
    </tr>
{% endblock %}
