{% load i18n %}
<footer class="footer container-fluid">
    {% block footer %}
        {% comment %}
            Could be used for displaying links to privacy policy, terms of service, etc.
            We have a CSS class defined:
                <ul class="footer_links inline">
                    ...
                </ul>
         {% endcomment %}
         <ul class="footer_links inline"> <center><a href='http://www.bearquant.com'>BearQuant</a>-使用人工智能、区块链大数据技术专注数字货币量化策略研发<br>All Rights Reserved.2018</center></ul>
    {% endblock %}
</footer>        