{% load i18n %}
<footer class="footer container-fluid">
    {% block footer %}
        {% comment %}
            Could be used for displaying links to privacy policy, terms of service, etc.
            We have a CSS class defined:
                <ul class="footer_links inline">
                    ...
                </ul>
         {% endcomment %}
         <ul class="footer_links inline"> <center><a href='http://www.bearquant.com'>BearQuant</a> 专业的比特币、以太坊、EOS等区块链数字货币量化策略平台<br>Powered by <a href="https://www.foscore.io">FOS</a> All Rights Reserved.2019</center></ul>
         
         <!-- 百度统计代码开始 -->
         <script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?9e20179196a350dac2cef1ca0fcc4bb8";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
         
    {% endblock %}
</footer>        